@font-face {
  font-family: 'Linux';
  src: url("../fonts/linux.ttf"); }
/*------ ------ ------ ------ SECTIONS ------ ------ ------ ------*/
.q-and-a {
  font-size: 16px; }
  .q-and-a i {
    color: #8977aa; }
  .q-and-a .question {
    font-weight: bold;
    margin-bottom: 0; }

.section, .section-one, .section-two {
  position: relative;
  z-index: 5;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #727272;
  min-height: 200px; }
  .section h2, .section-one h2, .section-two h2 {
    font-family: monospace;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase; }
  .section h2::first-letter, .section-one h2::first-letter, .section-two h2::first-letter {
    font-size: 150%; }
  .section p, .section-one p, .section-two p, .section .text, .section-one .text, .section-two .text {
    font-family: "Linux";
    font-weight: normal;
    font-size: 26px;
    line-height: 32px; }
  .section i, .section-one i, .section-two i {
    font-size: 26px;
    line-height: 32px;
    color: #d6d6d6; }
  .section h3, .section-one h3, .section-two h3 {
    font-family: monospace;
    font-weight: bold;
    font-size: 31px;
    line-height: 33px; }

.section-one {
  background-color: #fff; }

.section-two {
  background-color: #fff; }

#contact p i, #contact p a {
  color: #d6d6d6;
  font-size: 30px;
  text-decoration: none; }

#graduation p {
  margin-top: 30px; }

.text {
  padding: auto 20px auto 20px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1); }

.text:hover {
  padding-left: 50px;
  -moz-box-shadow: 10px 0px 10px #727272;
  -webkit-box-shadow: 10px 0px 10px #727272;
  box-shadow: 10px 0px 10px #727272;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.01);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.01);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.01);
  transition: all 200ms ease-in;
  transform: scale(1.01); }

/*------ ------ ------ ------ NAVBAR ------ ------ ------ ------*/
.navbar-default {
  font-family: "Linux";
  font-weight: bold;
  font-size: 20px;
  line-height: 22px; }
  .navbar-default .navbar-header .navbar-brand {
    font-family: "Linux";
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #b19bd9; }
    .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:active {
      color: #8977aa; }
  .navbar-default .navbar-nav li a {
    color: #777; }
    .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
      color: #b19bd9; }
  .navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:active, .navbar-default .navbar-nav .active a:hover {
    color: #b19bd9;
    background-color: #E7E7E7; }

#myNavbar ul li a:before {
  content: '|'; }

footer {
  margin-bottom: 0;
  background-color: #f7f7f7;
  color: #727272;
  padding: 6px;
  font-family: "Linux";
  font-weight: lighter;
  font-size: 26px;
  line-height: 26px; }

/*------ ------ ------ ------ Image panel ------ ------ ------ ------*/
.image {
  background-image: url("../images/back.jpg");
  width: 100%;
  height: 1000px; }

#names {
  font-family: "Linux";
  font-weight: normal;
  font-size: 140px;
  line-height: 140px;
  color: #fff;
  margin-top: 300px;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#nick, #real-name {
  position: relative;
  top: 0;
  left: 0; }

#overlay {
  position: absolute;
  right: 0;
  left: 0; }

/*------ ------ ------ ------ Buttons ------ ------ ------ ------*/
.buttons {
  margin-top: 300px; }

.btn {
  outline: none !important; }

.button {
  border: 3px solid #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
  background-color: transparent;
  padding: 16px;
  font-family: "Linux";
  font-weight: normal;
  font-size: 26px;
  line-height: 26px; }
  .button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff; }
  .button .active, .button:active, .button:focus {
    background-color: rgba(255, 255, 255, 0.4);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

/*------ ------ ------ ------ media ------ ------ ------ ------*/
@media screen and (max-width: 1200px) {
  .section, .section-one, .section-two {
    padding: 30px; }
    .section h2, .section-one h2, .section-two h2 {
      font-size: 33px;
      line-height: 33px; }
    .section h2::first-letter, .section-one h2::first-letter, .section-two h2::first-letter {
      font-size: 150%; }
    .section p, .section-one p, .section-two p, .section .text, .section-one .text, .section-two .text {
      font-size: 23px;
      line-height: 29px; }
    .section i, .section-one i, .section-two i {
      font-size: 23px;
      line-height: 29px; }
    .section h3, .section-one h3, .section-two h3 {
      font-size: 28px;
      line-height: line 30px; }

  footer {
    font-size: 23px;
    line-height: 23px; } }
@media screen and (max-width: 1000px) {
  .section, .section-one, .section-two {
    padding: 20px; }
    .section h2, .section-one h2, .section-two h2 {
      font-size: 30px;
      line-height: 30px; }
    .section h2::first-letter, .section-one h2::first-letter, .section-two h2::first-letter {
      font-size: 150%; }
    .section p, .section-one p, .section-two p, .section .text, .section-one .text, .section-two .text {
      font-size: 20px;
      line-height: 26px; }
    .section i, .section-one i, .section-two i {
      font-size: 20px;
      line-height: 26px; }
    .section h3, .section-one h3, .section-two h3 {
      font-size: 25px;
      line-height: line 27px; }

  footer {
    font-size: 20px;
    line-height: 20px; } }
@media screen and (max-width: 688px) {
  .buttons {
    visibility: hidden; } }
@media screen and (max-width: 1200px) {
  #names {
    font-size: 120px; } }
@media screen and (max-width: 1000px) {
  #names {
    font-size: 100px; } }
@media screen and (max-width: 738px) {
  #names {
    font-size: 80px; } }

/*# sourceMappingURL=main.css.map */
