$light-grey: #f7f7f7;
$dark-grey: #727272; 
$normal-grey: #d6d6d6;
$light-violet: #b19bd9;
$dark-violet: #8977aa;
$back: #fff;

$active-grey: rgba(255, 255, 255, 0.4);
$hover-grey: rgba(255, 255, 255, 0.2);